body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #1e90ff;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

#book-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book {
  border: 1px solid #dddddd;
  background-color: cadetblue;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  transition: transform 0.2s;
  width: 200px;
  text-align: center;
}

.book img {
  width: 100%;
  height: auto;
}

.book:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f0f0f0;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.buy-button {
  background-color: #1e90ff;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1em;
}

#favorite-button {
  background-color: #ff6666;
  border: 2px solid #000000;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1em;
}
